@page
@model LotusWebApplication.Pages.Manufacturer.IndexModel

@{
    ViewData["Title"] = "List of Manufacturer";
}
    <div class="colorrow neutral header">
        <label>List of Manufacturer</label>
        <div class="row"><a asp-page="Create" class="btn-blue borderlessinput" style="margin:auto">Add</a></div>
    </div>
    <div class="colorrow dark tag">
        <label>Table</label>
    </div>
    <div class="colorrow dark">
        <table id="myTable" class="table border" width="100%">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Manufacturer[0].MAN_Desc)
                    </th>
                    <th scope="col">
                        National Aviation Authority
                    </th>
                    <th style="width:30%" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Manufacturer)
                {
                <tr>
                    <td scope="row" data-label="@Html.DisplayNameFor(model => model.Manufacturer[0].MAN_Desc)">
                        @Html.DisplayFor(modelItem => item.MAN_Desc)
                    </td>
                    <td scope="row" data-label="@Html.DisplayNameFor(model => model.Manufacturer[0].NationalAviationAuthority.NAA_Desc)">
                        @Html.DisplayFor(modelItem => item.NationalAviationAuthority.NAA_Desc)
                    </td>
                    <td scope="row" data-label="Action">
                        <a asp-page="./Edit" asp-route-id="@item.MAN_Code" class="btn-green">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.MAN_Code" class="btn-red">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>