@page
@model LotusWebApplication.Pages.NationalAviationAuthority.IndexModel

@{
    ViewData["Title"] = "List of National Authorities";
}
<div class="colorrow neutral header">
    <label>List of National Authorities</label>
    <div class="row"><a asp-page="Create" class="btn-blue borderlessinput" style="margin:auto">Add</a></div>
</div>
<div class="colorrow dark tag">
    <label>Table</label>
</div>
<div class="colorrow dark">
    <table id="myTable" class="table border" width="100%">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.NationalAviationAuthority[0].NAA_Desc)
                </th>
                <th style="width:30%" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NationalAviationAuthority)
            {

                <tr>
                    <td scope="row" data-label="@Html.DisplayNameFor(model => model.NationalAviationAuthority[0].NAA_Desc)">
                        @Html.DisplayFor(modelItem => item.NAA_Desc)
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.NAA_Code" class="btn-green">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.NAA_Code" class="btn-red">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>