@page
@model LotusWebApplication.Pages.APU.IndexModel

@{
    ViewData["Title"] = "List of APUs";
}

<div class="colorrow neutral header">
    <label>List of APUs</label>
    <div class="row"><a asp-page="Create" class="btn-blue borderlessinput" style="margin:auto">Add</a></div>
</div>
<div class="colorrow dark tag">
    <label>Table</label>
</div>
<div class="colorrow dark">
    <table id="myTable" class="table border" width="100%">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.APU[0].APU_Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.APU[0].Manufacturer)
                </th>
                <th style="width:20%" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.APU)
            {
            <tr>
                <td scope="row" data-label="@Html.DisplayNameFor(model => model.APU[0].APU_Description)">
                    @Html.DisplayFor(modelItem => item.APU_Description)
                </td>
                <td scope="row" data-label="@Html.DisplayNameFor(model => model.APU[0].Manufacturer.MAN_Desc)">
                    @Html.DisplayFor(modelItem => item.Manufacturer.MAN_Desc)
                </td>
                <td scope="row" data-label="Action">
                    <a asp-page="./Edit" asp-route-id="@item.APU_Code" class="btn-green">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.APU_Code" class="btn-red">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>